html {
    height: 100%;
}
body {
    background: linear-gradient(to right, #192b43 0%,#182a42 10%,#1d4267 18%,#182c44 33%,#182c44 33%,#182c44 52%,#182c44 68%,#1d4267 81%,#182a42 90%,#182a42 90%,#192b43 100%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
}

div.wrapper {
    margin: 0px 20vw 0px 19vw;
    background-color: black;
}

div.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    padding: 20px;
    text-align: center;
}

div.title h1 {
    margin: 0;
}

div.title p {
    margin-top: 3px;
    color: #00afec
}

div.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.fields input {
    display: block;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    color: #464646
}

input.btn {
    display: block;
    margin-bottom: 10px;
    height: 30px;
    width: 211px;
    border-radius: 2px;
    border: 1px solid #00afec;
    padding-left: 10px;
    background: 0;
    color: white;
    transition: .5s all;
}

input.btn:hover {
    cursor: pointer;
    border-radius: 2px;
    background: #00afec;
    transition: .5s all;
}

div.dashboard {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 100vh;
}

div.main {
    grid-column: span 4;
    background-color: white;
    padding: 20px;
    color: #464646;
}

div.sidebar {
    background-color: #132133;
    grid-column: 1;
}

div.logout {
    display: flex;
    justify-content: right;
}